
body {
  /* font-family: "Segoe UI", MeiryoKe_PGothic, "Meiryo", "Meiryo UI", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif; */
  /* background-color: #eee;  */
}
.siteTitle {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #111;
}
.siteFooter {
  border-top: 2px solid #111;
  margin-top: 1em;
  padding: 1em;

}
.main {
  margin-top: 40px;
   background-color: white ;
  
}
.sidebar {
  background-color: white;
  
}
.sidebar ul {
  list-style-type: none;
}
.sidebar ul li {
  margin-bottom: 0;
}
nav.breadcrumb {
  
    font-size: small;
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* margin-top: 1em; */

}
.eyecatchImageWrapper {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
}

.eyecatchImage img {
  display: block;
  height: 200px;
  object-fit: none;
  width: 100%

}
/*
.eyecatchImage {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 2px 2px 1px rgb(0 0 0 / 20%);
  
}
*/
.eyecatchImageSmall {
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-shadow: 2px 2px 1px rgb(0 0 0 / 20%);
  float: left;
  margin-right: 1em;
  margin-bottom: 0em;
}
.pageTitle {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* *** Directories *** */
.directory a {
  color: black
}
.directory a:visited {
  color: black
}
.directory a:hover {
  background-color: #eee
}
/*
pre {
  max-width: 100%;
}*/

