a.anchor {
  opacity: 0.4;
}

.post {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  padding-right: 1em;
  /* background-color:white; */
  /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);  */
  box-shadow: 2px 2px 1px rgb(0 0 0 / 20%)
}

.postexcerpt {
  margin-top: 2em;
  margin-bottom: 2  em;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  /* background-color:white; */
  /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);  */
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%)    /* , 0px 0px 2px 2px rgb(0 0 0 / 20%) */

}
.postexcerpt a {
  text-decoration: none;
  color: black;
}
.postexcerpt a:visited {
  color: black;
}
.header {
  margin-bottom: 2em;
  /* border-bottom: 1px solid; */
  padding-bottom: 1em;
  box-shadow: 0px 1px rgb(0 0 0 / 10%)
}

.title {
  font-weight: bold;
  /* border-bottom: 1px solid; */
  /* padding-bottom: 1em; */
  padding: 0.5em;
  /*   margin-bottom: 1px;     */

  /* background: linear-gradient(to bottom, white 80%, gray 100%); */
  background: linear-gradient(to bottom,  #4848aa 0%, #222277 100%); 
  
}

.title a {
  text-decoration: none;
  color: white; 
}
.title a:visited {
  color: white;
}
.directory {
  font-size: small;
  display: inline-block;
  background-color: #cdd;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.directory a {
  text-decoration: none;
}
.directory a:hover {
  background-color: #eee
}
/*
.date {
  font-size: small;
}
*/



  
.excerpt .title a {
  color: black;
}

.postInfo {
  font-size: small;
  text-align: right;
  margin-bottom: 1em;
}

.continueReading {
  text-align: right;
  font-style: italic;
  padding-right: 2em;
}

.continueReading>a {
  text-decoration: none;
  background-color: #455;
  color: white;
}

.description {
  
  padding: 1em;
  
}
/* ******************* */

/* *** Post Card *** */

.postCard {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 2px 2px 1px rgb(0 0 0 / 20%);
  /* display: block; */
}

.postCard:hover {
  background: #eee;
  opacity: 0.7;
}

.postCardDate {
  font-size: small;
}

.postCard a {
  text-decoration: none;
}

.postCardTitle {
  /* background: linear-gradient(to bottom,  #484848 0%,#121212 100%);  */
  /* margin-bottom: 0.5em; */
  font-weight: bold;
  color: black;
}

.postCardTitle a {
  color: black;
}
.postCardTitle a:visited {
  color: black;
}
.postCardDirectory {
  font-size: small;
  display: inline-block;
  background-color: #cdd;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.postCardExcerpt {
  font-size: small;
  color: #444;
  padding-left: 1em;
  padding-right: 1em;
}

/* *** Table of Contents *** */
.tableOfContents  {
  box-shadow: 2px 1px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  background-color: #f8f8f8;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  padding-bottom: 0em;
  /* padding: 1em; */
  
  /*  border-bottom: solid 1px;*/
  /* background-color: #fee; */
}
.tableOfContents ol {
  margin-bottom: 0em;
}
.tableOfContents h3, h4 {
  margin-bottom: 0em;

}
.tableOfContentsTitle:hover {
  background: #eee;
  
  /* opacity: 70%; */
}


/* ********************************************* */
/* markdown */

.post h1 {
  font-weight: bold;
  border-bottom: 1px solid #888;
  padding-top: 10px;
  padding-bottom: 5px;
}

.post h2 {
  font-weight: bold;
  border-bottom: 1px solid #888;
  padding-top: 10px;
  padding-bottom: 5px;
}

.post h3 {
  font-weight: bold;
  border-bottom: 1px solid #888;
  padding-top: 10px;
  padding-bottom: 5px;
}

.post h4 {
  font-weight: bold;
  border-bottom: 1px solid #888;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* header numbering */

body {
  counter-reset: h1; counter-reset: h2; 
}

/* line 191, style.css.scss */
.numbering_headings h1 {
  counter-increment: h1;
  counter-reset: h2; }
/* line 195, style.css.scss */
.numbering_headings h1:before {
  color: #888;
  font-size: large; }
/* line 191, style.css.scss */
.numbering_headings h2 {
  counter-increment: h2;
  counter-reset: h3; }
/* line 195, style.css.scss */
.numbering_headings h2:before {
  color: #888;
  font-size: large; }
/* line 191, style.css.scss */
.numbering_headings h3 {
  counter-increment: h3;
  counter-reset: h4; }
/* line 195, style.css.scss */
.numbering_headings h3:before {
  color: #888;
  font-size: large; }
/* line 191, style.css.scss */
.numbering_headings h4 {
  counter-increment: h4;
  counter-reset: h5; }
/* line 195, style.css.scss */
.numbering_headings h4:before {
  color: #888;
  font-size: large; }
/* line 191, style.css.scss */
.numbering_headings h5 {
  counter-increment: h5;
  counter-reset: h6; }
/* line 195, style.css.scss */
.numbering_headings h5:before {
  color: #888;
  font-size: large; }
/* line 191, style.css.scss */
.numbering_headings h6 {
  counter-increment: h6;
  counter-reset: h7; }
/* line 195, style.css.scss */
.numbering_headings h6:before {
  color: #888;
  font-size: large; }
/* line 199, style.css.scss */
.numbering_headings h2:before {
  content: counter(h2) ". "; }
/* line 200, style.css.scss */
.numbering_headings h3:before {
  content: counter(h2) "." counter(h3) ". "; }
/* line 201, style.css.scss */
.numbering_headings h4:before {
  content: counter(h2) "." counter(h3) "." counter(h4) ". "; }
/* line 202, style.css.scss */
.numbering_headings h5:before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "; }