.post {
  /*margin-top: 2em;
  
  padding: 2em;
*/

  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  /* background-color:white; */
  /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);  */
  box-shadow: 2px 2px 1px rgb(0 0 0 / 20%)
}

.header {
  margin-bottom: 2em;
  /* border-bottom: 1px solid; */
  padding-bottom: 1em;
  box-shadow: 0px 1px rgb(0 0 0 / 10%)
}
.title {
    font-weight: bold;
    /* border-bottom: 1px solid; */
    padding-bottom: 1em;
  /*   margin-bottom: 1px;     */
}
.title a {
  text-decoration: none;
  color: black 
}

.directory {
  font-size: small;
  display: inline-block;
  background-color: #cdd;
  padding-left: 0.5em;
  padding-right: 0.5em;
 
}

.directory a {
  text-decoration: none;
}

.date {
  font-size: small;
}

.excerpt .title a {
  color: black;
}
.postInfo {
    font-size: small;
    text-align: right;
    margin-bottom: 1em;
}
.continueReading {
    text-align: right;
    font-style: italic;
    padding-right: 2em;    
    
}
.continueReading > a {
    text-decoration: none;
    background-color: #455;
    color: white;
}

/* ******************* */
/* *** Post Card *** */
.postCard {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  box-shadow: 2px 2px 1px rgb(0 0 0 / 20%)
}

.postCardDate {
  font-size: small;
}

.postCard a {
  text-decoration: none;
}

.postCardTitle {
  margin-bottom: 0.5em;
}

.postCardDirectory {
  font-size: small;
  display: inline-block;
  background-color: #cdd;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.postCardExcerpt {
  font-size: small;
  color: #444;
  padding-left: 1em;
  padding-right: 1em;
}