.title {
    font-weight: bold;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    margin-bottom: 1px;    
}

.excerpt .title a {
  color: black;
}
.postInfo {
    font-size: small;
    text-align: right;
    margin-bottom: 1em;
}
.continueReading {
    text-align: right;
    font-style: italic;
    
}
.continueReading > a {
    text-decoration: none;
}

.excerpt {
  padding: 1em;
}